<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <title>Order Templet</title>
    <style type="text/css">
      @import url("https://fonts.googleapis.com/css2?family=Condiment&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

      html {
        width: 100%;
      }
      body {
        background-color: #fff;
        margin: 0;
        padding: 0;
        color: #000000;
        font-family: "Poppins", sans-serif;
      }

      table {
        border-collapse: collapse;
      }

      a {
        text-decoration: none !important;
      }
      @media only screen and (max-width: 600px) {
        table {
          width: 100% !important;
          margin: 0 auto !important;
        }
      }
    </style>
  </head>

  <body>
    <table
      style="padding: 0; margin: 0"
      border="0"
      width="100%"
      cellspacing="0"
      cellpadding="0"
      align="center"
      bgcolor="#ffffff"
    >
      <tbody>
        <tr>
          <td align="center" bgcolor="#ffffff" bgcolor="#ffffff">
            <table
              border="0"
              width="600"
              cellspacing="0"
              cellpadding="0"
              bgcolor="#ffffff"
            >
              <tbody>
                <tr>
                  <td style="padding: 15px">
                    <table
                      border="0"
                      width="100%"
                      cellspacing="0"
                      cellpadding="0"
                      bgcolor="#ffffff"
                    >
                      <tbody>
                        <tr>
                          <td style="padding-bottom: 15px">
                            <table
                              width="100%"
                              cellspacing="0"
                              cellpadding="0"
                              bgcolor="#ffffff"
                            >
                              <tbody>
                                <tr>
                                  <td align="left">
                                    <a href="index.html">
                                      <img
                                        src="images/innerlogo.svg"
                                        alt=""
                                        style="max-width: 150px"
                                      />
                                    </a>
                                  </td>
                                  <td align="right">
                                    <a href="tel:+18006590187">
                                      <img
                                        src="images/callnum.png"
                                        alt=""
                                        style="max-width: 140px"
                                      />
                                    </a>
                                  </td>
                                </tr>
                              </tbody>
                            </table>
                          </td>
                        </tr>
                        <tr>
                          <td style="padding-left: 20px; padding-right: 20px">
                            <table
                              width="100%"
                              cellspacing="0"
                              cellpadding="0"
                              bgcolor="#ffffff"
                            >
                              <tbody>
                                <tr>
                                  <td
                                    style="border-bottom: 1px solid #dadada"
                                  ></td>
                                </tr>
                              </tbody>
                            </table>
                          </td>
                        </tr>

                        <tr>
                          <td style="padding-top: 20px; padding-bottom: 10px">
                            <table
                              width="100%"
                              cellspacing="0"
                              cellpadding="0"
                              bgcolor="#ffffff"
                            >
                              <tbody>
                                <tr>
                                  <td
                                    style="
                                      padding-right: 10px;
                                      width: 45px;
                                      vertical-align: middle;
                                    "
                                  >
                                    <img src="<%= tour_name %>" alt="" />
                                  </td>
                                  <td style="vertical-align: middle">
                                    <p
                                      style="
                                        font-weight: 500;
                                        font-size: 16px;
                                        color: #000;
                                        margin: 0px;
                                      "
                                    >
                                      Thank you for your order.
                                      <span style="color: #f25928"
                                        >Order Confirmed!</span
                                      >
                                    </p>
                                  </td>
                                </tr>
                              </tbody>
                            </table>
                          </td>
                        </tr>

                        <tr>
                          <td
                            bgcolor="#ecf2f4"
                            style="
                              padding-top: 15px;
                              padding-left: 15px;
                              padding-bottom: 15px;
                              padding-right: 15px;
                              border-radius: 5px;
                            "
                          >
                            <table width="100%" cellspacing="0" cellpadding="0">
                              <tbody>
                                <tr>
                                  <td
                                    style="
                                      color: #000;
                                      font-weight: 500;
                                      font-size: 13px;
                                      width: 120px;
                                      padding-right: 5px;
                                      padding-bottom: 10px;
                                    "
                                  >
                                    Package Name:
                                  </td>
                                  <td
                                    style="
                                      color: #000;
                                      font-weight: 500;
                                      font-size: 13px;
                                      padding-bottom: 10px;
                                    "
                                  >
                                    <%= tour_name %>
                                  </td>
                                  <td
                                    align="right"
                                    rowspan="3"
                                    style="padding-bottom: 10px"
                                  >
                                    <p
                                      style="
                                        margin: 0px;
                                        width: 80px;
                                        height: 68px;
                                        overflow: hidden;
                                      "
                                    >
                                      <img
                                        src="images/templetimg.png"
                                        alt=""
                                        style="
                                          object-fit: cover;
                                          width: 80px;
                                          height: 68px;
                                        "
                                      />
                                    </p>
                                  </td>
                                </tr>
                                <tr>
                                  <td
                                    style="
                                      color: #000;
                                      font-weight: 500;
                                      font-size: 13px;
                                      width: 120px;
                                      padding-right: 5px;
                                      padding-bottom: 10px;
                                    "
                                  >
                                    Order Number:
                                  </td>
                                  <td
                                    style="
                                      color: #000;
                                      font-weight: 500;
                                      font-size: 13px;
                                      padding-bottom: 10px;
                                    "
                                  >
                                    <%= order_id %>
                                  </td>
                                </tr>
                                <tr>
                                  <td
                                    style="
                                      color: #000;
                                      font-weight: 500;
                                      font-size: 13px;
                                      width: 120px;
                                      padding-right: 5px;
                                      padding-bottom: 10px;
                                    "
                                  >
                                    Total Price:
                                  </td>
                                  <td
                                    style="
                                      color: #f25928;
                                      font-weight: 500;
                                      font-size: 13px;
                                      padding-bottom: 10px;
                                    "
                                  >
                                    <%= tour_currency %>
                                    <strong><%= tourtotal %></strong>
                                  </td>
                                </tr>
                              </tbody>
                            </table>
                            <table width="100%" cellspacing="0" cellpadding="0">
                              <tbody>
                                <tr>
                                  <td
                                    style="
                                      padding-left: 10px;
                                      padding-right: 10px;
                                      padding-top: 0px;
                                      padding-bottom: 15px;
                                    "
                                  >
                                    <table
                                      border="0"
                                      width="100%"
                                      cellspacing="0"
                                      cellpadding="0"
                                      bgcolor="#ffffff"
                                    >
                                      <tbody>
                                        <tr>
                                          <td
                                            style="
                                              width: 100%;
                                              border-bottom: 1px solid #c9e3ed;
                                            "
                                          ></td>
                                        </tr>
                                      </tbody>
                                    </table>
                                  </td>
                                </tr>
                              </tbody>
                            </table>
                            <table width="100%" cellspacing="0" cellpadding="0">
                              <tbody>
                                <tr>
                                  <td
                                    style="
                                      color: #000;
                                      font-weight: 500;
                                      font-size: 12px;
                                      width: 80px;
                                      padding-right: 5px;
                                      padding-bottom: 10px;
                                    "
                                  >
                                    Name:
                                  </td>
                                  <td
                                    colspan="2"
                                    style="
                                      color: #000;
                                      font-weight: 500;
                                      font-size: 12px;
                                      width: 110px;
                                      padding-right: 5px;
                                      padding-bottom: 10px;
                                    "
                                  >
                                    <%= first_name %>
                                  </td>
                                  <td></td>
                                </tr>
                                <tr>
                                  <td
                                    style="
                                      color: #000;
                                      font-weight: 500;
                                      font-size: 12px;
                                      width: 110px;
                                      padding-right: 5px;
                                      padding-left: 0px;
                                      padding-bottom: 10px;
                                    "
                                  >
                                    Nationality:
                                  </td>
                                  <td
                                    colspan="2"
                                    style="
                                      color: #000;
                                      font-weight: 500;
                                      font-size: 12px;
                                      padding-right: 5px;
                                      padding-bottom: 10px;
                                    "
                                  >
                                    <%= nationality %>
                                  </td>
                                  <td></td>
                                </tr>
                                <tr>
                                  <td
                                    style="
                                      color: #000;
                                      font-weight: 500;
                                      font-size: 12px;
                                      width: 80px;
                                      padding-right: 5px;
                                      padding-bottom: 10px;
                                    "
                                  >
                                    Email:
                                  </td>
                                  <td
                                    colspan="2"
                                    style="
                                      color: #000;
                                      font-weight: 500;
                                      font-size: 12px;
                                      width: 110px;
                                      padding-right: 5px;
                                      padding-bottom: 10px;
                                    "
                                  >
                                    <%= email %>
                                  </td>
                                  <td></td>
                                </tr>
                                <tr>
                                  <td
                                    style="
                                      color: #000;
                                      font-weight: 500;
                                      font-size: 12px;
                                      width: 80px;
                                      padding-right: 5px;
                                      padding-bottom: 10px;
                                    "
                                  >
                                    Phone:
                                  </td>
                                  <td
                                    colspan="2"
                                    style="
                                      color: #000;
                                      font-weight: 500;
                                      font-size: 12px;
                                      width: 110px;
                                      padding-right: 5px;
                                      padding-bottom: 10px;
                                    "
                                  >
                                    <%= cell_no %>
                                  </td>
                                  <td></td>
                                </tr>
                                <tr>
                                  <td
                                    style="
                                      color: #000;
                                      font-weight: 500;
                                      font-size: 12px;
                                      width: 110px;
                                      padding-right: 5px;
                                      padding-left: 0px;
                                      padding-bottom: 10px;
                                    "
                                  >
                                    Tour Date
                                  </td>
                                  <td
                                    rowspan="2"
                                    style="
                                      color: #000;
                                      font-weight: 500;
                                      font-size: 12px;
                                      padding-right: 5px;
                                      padding-bottom: 10px;
                                    "
                                  >
                                    <%= tour_date %>
                                  </td>
                                  <td></td>
                                </tr>
                              </tbody>
                            </table>
                          </td>
                        </tr>

                        <tr>
                          <td style="padding-top: 40px">
                            <table
                              border="0"
                              width="100%"
                              cellspacing="0"
                              cellpadding="0"
                              bgcolor="#ffffff"
                            >
                              <tbody>
                                <tr>
                                  <td
                                    style="
                                      font-weight: 500;
                                      font-size: 16px;
                                      color: #000;
                                      padding-bottom: 15px;
                                    "
                                  >
                                    Booking Info
                                  </td>
                                </tr>
                              </tbody>
                            </table>
                          </td>
                        </tr>
                        <tr>
                          <td style="padding-bottom: 70px">
                            <table
                              border="0"
                              width="100%"
                              cellspacing="0"
                              cellpadding="0"
                              bgcolor="#ffffff"
                            >
                              <tbody>
                                <tr>
                                  <td
                                    width="30%"
                                    style="
                                      font-weight: 700;
                                      font-size: 12px;
                                      color: #000;
                                      padding-top: 12px;
                                      padding-bottom: 12px;
                                      padding-left: 10px;
                                      padding-right: 10px;
                                      border-top: 1px solid #ececec;
                                      border-left: 1px solid #ececec;
                                      border-bottom: 1px solid #ececec;
                                    "
                                  >
                                    Preferred Pickup Time
                                  </td>
                                  <td
                                    width="20%"
                                    style="
                                      font-weight: 500;
                                      font-size: 12px;
                                      color: #000;
                                      padding-top: 12px;
                                      padding-bottom: 12px;
                                      padding-left: 10px;
                                      padding-right: 10px;
                                      border-top: 1px solid #ececec;
                                      border-bottom: 1px solid #ececec;
                                    "
                                  >
                                    <%= pickup_time %>
                                  </td>
                                  <td
                                    width="30%"
                                    style="
                                      font-weight: 700;
                                      font-size: 12px;
                                      color: #000;
                                      padding-top: 12px;
                                      padding-bottom: 12px;
                                      padding-left: 10px;
                                      padding-right: 10px;
                                      border-top: 1px solid #ececec;
                                      border-left: 1px solid #ececec;
                                      border-bottom: 1px solid #ececec;
                                    "
                                  >
                                    Pickup Location*
                                  </td>
                                  <td
                                    width="20%"
                                    style="
                                      font-weight: 500;
                                      font-size: 12px;
                                      color: #000;
                                      padding-top: 12px;
                                      padding-bottom: 12px;
                                      padding-left: 10px;
                                      padding-right: 10px;
                                      border-top: 1px solid #ececec;
                                      border-bottom: 1px solid #ececec;
                                      border-right: 1px solid #ececec;
                                    "
                                  >
                                    <%= pickup_location %>
                                  </td>
                                </tr>
                                <tr>
                                  <td
                                    width="30%"
                                    style="
                                      font-weight: 700;
                                      font-size: 12px;
                                      color: #000;
                                      padding-top: 12px;
                                      padding-bottom: 12px;
                                      padding-left: 10px;
                                      padding-right: 10px;
                                      border-left: 1px solid #ececec;
                                      border-bottom: 1px solid #ececec;
                                    "
                                  >
                                    End Location
                                  </td>
                                  <td
                                    width="20%"
                                    style="
                                      font-weight: 500;
                                      font-size: 12px;
                                      color: #000;
                                      padding-top: 12px;
                                      padding-bottom: 12px;
                                      padding-left: 10px;
                                      padding-right: 10px;
                                      border-bottom: 1px solid #ececec;
                                    "
                                  >
                                    <%= end_location %>
                                  </td>
                                  <td
                                    width="30%"
                                    style="
                                      font-weight: 700;
                                      font-size: 12px;
                                      color: #000;
                                      padding-top: 12px;
                                      padding-bottom: 12px;
                                      padding-left: 10px;
                                      padding-right: 10px;
                                      border-left: 1px solid #ececec;
                                      border-bottom: 1px solid #ececec;
                                    "
                                  >
                                    Hotel Name
                                  </td>
                                  <td
                                    width="20%"
                                    style="
                                      font-weight: 500;
                                      font-size: 12px;
                                      color: #000;
                                      padding-top: 12px;
                                      padding-bottom: 12px;
                                      padding-left: 10px;
                                      padding-right: 10px;
                                      border-bottom: 1px solid #ececec;
                                      border-right: 1px solid #ececec;
                                    "
                                  >
                                    <%= hotel_name %>
                                  </td>
                                </tr>
                                <tr>
                                  <td
                                    width="30%"
                                    style="
                                      font-weight: 700;
                                      font-size: 12px;
                                      color: #000;
                                      padding-top: 12px;
                                      padding-bottom: 12px;
                                      padding-left: 10px;
                                      padding-right: 10px;
                                      border-left: 1px solid #ececec;
                                      border-bottom: 1px solid #ececec;
                                    "
                                  >
                                    Preferred Guide Language
                                  </td>
                                  <td
                                    width="20%"
                                    style="
                                      font-weight: 500;
                                      font-size: 12px;
                                      color: #000;
                                      padding-top: 12px;
                                      padding-bottom: 12px;
                                      padding-left: 10px;
                                      padding-right: 10px;
                                      border-bottom: 1px solid #ececec;
                                    "
                                  >
                                    <%= language %>
                                  </td>
                                  <td
                                    width="30%"
                                    style="
                                      font-weight: 700;
                                      font-size: 12px;
                                      color: #000;
                                      padding-top: 12px;
                                      padding-bottom: 12px;
                                      padding-left: 10px;
                                      padding-right: 10px;
                                      border-left: 1px solid #ececec;
                                      border-bottom: 1px solid #ececec;
                                    "
                                  >
                                    Pref.currency
                                  </td>
                                  <td
                                    width="20%"
                                    style="
                                      font-weight: 500;
                                      font-size: 12px;
                                      color: #000;
                                      padding-top: 12px;
                                      padding-bottom: 12px;
                                      padding-left: 10px;
                                      padding-right: 10px;
                                      border-bottom: 1px solid #ececec;
                                      border-right: 1px solid #ececec;
                                    "
                                  >
                                    <%= tour_currency %>
                                  </td>
                                </tr>
                                <tr>
                                  <td
                                    width="30%"
                                    style="
                                      font-weight: 700;
                                      font-size: 12px;
                                      color: #000;
                                      padding-top: 12px;
                                      padding-bottom: 12px;
                                      padding-left: 10px;
                                      padding-right: 10px;
                                      border-left: 1px solid #ececec;
                                      border-bottom: 1px solid #ececec;
                                    "
                                  >
                                    Payment Mode
                                  </td>
                                  <td
                                    width="20%"
                                    style="
                                      font-weight: 500;
                                      font-size: 12px;
                                      color: #000;
                                      padding-top: 12px;
                                      padding-bottom: 12px;
                                      padding-left: 10px;
                                      padding-right: 10px;
                                      border-bottom: 1px solid #ececec;
                                    "
                                  >
                                    <%= payment_mode %>
                                  </td>
                                  <td
                                    width="30%"
                                    style="
                                      font-weight: 700;
                                      font-size: 12px;
                                      color: #000;
                                      padding-top: 12px;
                                      padding-bottom: 12px;
                                      padding-left: 10px;
                                      padding-right: 10px;
                                      border-left: 1px solid #ececec;
                                      border-bottom: 1px solid #ececec;
                                    "
                                  >
                                    Adults
                                  </td>
                                  <td
                                    width="20%"
                                    style="
                                      font-weight: 500;
                                      font-size: 12px;
                                      color: #000;
                                      padding-top: 12px;
                                      padding-bottom: 12px;
                                      padding-left: 10px;
                                      padding-right: 10px;
                                      border-bottom: 1px solid #ececec;
                                      border-right: 1px solid #ececec;
                                    "
                                  >
                                    <%= adults %>
                                  </td>
                                </tr>
                                <tr>
                                  <td
                                    width="30%"
                                    style="
                                      font-weight: 700;
                                      font-size: 12px;
                                      color: #000;
                                      padding-top: 12px;
                                      padding-bottom: 12px;
                                      padding-left: 10px;
                                      padding-right: 10px;
                                      border-left: 1px solid #ececec;
                                      border-bottom: 1px solid #ececec;
                                    "
                                  >
                                    Children
                                  </td>
                                  <td
                                    width="20%"
                                    style="
                                      font-weight: 500;
                                      font-size: 12px;
                                      color: #000;
                                      padding-top: 12px;
                                      padding-bottom: 12px;
                                      padding-left: 10px;
                                      padding-right: 10px;
                                      border-bottom: 1px solid #ececec;
                                    "
                                  >
                                    <%= children %>
                                  </td>
                                  <td
                                    width="30%"
                                    style="
                                      font-weight: 700;
                                      font-size: 12px;
                                      color: #000;
                                      padding-top: 12px;
                                      padding-bottom: 12px;
                                      padding-left: 10px;
                                      padding-right: 10px;
                                      border-left: 1px solid #ececec;
                                      border-bottom: 1px solid #ececec;
                                    "
                                  >
                                    Infants
                                  </td>
                                  <td
                                    width="20%"
                                    style="
                                      font-weight: 500;
                                      font-size: 12px;
                                      color: #000;
                                      padding-top: 12px;
                                      padding-bottom: 12px;
                                      padding-left: 10px;
                                      padding-right: 10px;
                                      border-bottom: 1px solid #ececec;
                                      border-right: 1px solid #ececec;
                                    "
                                  >
                                    <%= infants %>
                                  </td>
                                </tr>
                                <tr>
                                  <td
                                    width="30%"
                                    style="
                                      font-weight: 700;
                                      font-size: 12px;
                                      color: #000;
                                      padding-top: 12px;
                                      padding-bottom: 12px;
                                      padding-left: 10px;
                                      padding-right: 10px;
                                      border-left: 1px solid #ececec;
                                      border-bottom: 1px solid #ececec;
                                    "
                                  >
                                    Addition driver
                                  </td>
                                  <td
                                    width="20%"
                                    style="
                                      font-weight: 500;
                                      font-size: 12px;
                                      color: #000;
                                      padding-top: 12px;
                                      padding-bottom: 12px;
                                      padding-left: 10px;
                                      padding-right: 10px;
                                      border-bottom: 1px solid #ececec;
                                      border-right: 1px solid #ececec;
                                    "
                                  >
                                    <%= addition_driver %>
                                  </td>

                                  <td
                                    width="30%"
                                    style="
                                      font-weight: 700;
                                      font-size: 12px;
                                      color: #000;
                                      padding-top: 12px;
                                      padding-bottom: 12px;
                                      padding-left: 10px;
                                      padding-right: 10px;
                                      border-left: 1px solid #ececec;
                                      border-bottom: 1px solid #ececec;
                                    "
                                  >
                                    Additional lunch
                                  </td>
                                  <td
                                    width="20%"
                                    style="
                                      font-weight: 500;
                                      font-size: 12px;
                                      color: #000;
                                      padding-top: 12px;
                                      padding-bottom: 12px;
                                      padding-left: 10px;
                                      padding-right: 10px;
                                      border-bottom: 1px solid #ececec;
                                      border-right: 1px solid #ececec;
                                    "
                                  >
                                    <%= additional_lunch %>
                                  </td>
                                </tr>
                                <tr>
                                  <td
                                    width="30%"
                                    style="
                                      font-weight: 700;
                                      font-size: 12px;
                                      color: #000;
                                      padding-top: 12px;
                                      padding-bottom: 12px;
                                      padding-left: 10px;
                                      padding-right: 10px;
                                      border-left: 1px solid #ececec;
                                      border-bottom: 1px solid #ececec;
                                    "
                                  >
                                    Additional tickets
                                  </td>
                                  <td
                                    width="20%"
                                    style="
                                      font-weight: 500;
                                      font-size: 12px;
                                      color: #000;
                                      padding-top: 12px;
                                      padding-bottom: 12px;
                                      padding-left: 10px;
                                      padding-right: 10px;
                                      border-bottom: 1px solid #ececec;
                                      border-right: 1px solid #ececec;
                                    "
                                  >
                                    <%= itinerary_name %>
                                  </td>

                                  <td
                                    width="30%"
                                    style="
                                      font-weight: 700;
                                      font-size: 12px;
                                      color: #000;
                                      padding-top: 12px;
                                      padding-bottom: 12px;
                                      padding-left: 10px;
                                      padding-right: 10px;
                                      border-left: 1px solid #ececec;
                                      border-bottom: 1px solid #ececec;
                                    "
                                  >
                                    Special Request
                                  </td>
                                  <td
                                    width="20%"
                                    style="
                                      font-weight: 500;
                                      font-size: 12px;
                                      color: #000;
                                      padding-top: 12px;
                                      padding-bottom: 12px;
                                      padding-left: 10px;
                                      padding-right: 10px;
                                      border-bottom: 1px solid #ececec;
                                      border-right: 1px solid #ececec;
                                    "
                                  >
                                    <%= special_request %>
                                  </td>
                                </tr>
                              </tbody>
                            </table>
                          </td>
                        </tr>

                        <tr>
                          <td>
                            <table
                              border="0"
                              width="100%"
                              cellspacing="0"
                              cellpadding="0"
                              bgcolor="#ffffff"
                            >
                              <tbody>
                                <tr>
                                  <td>
                                    <div
                                      style="
                                        border-top: 1px solid #dadada;
                                        padding-top: 30px;
                                        padding-bottom: 10px;
                                        text-align: center;
                                      "
                                    >
                                      <a href="#"
                                        ><img
                                          src="images/fbicon.png"
                                          alt=""
                                          width="35" /></a
                                      >&nbsp;&nbsp;&nbsp;<a href="#"
                                        ><img
                                          src="images/twicon.png"
                                          alt=""
                                          width="35" /></a
                                      >&nbsp;&nbsp;&nbsp;<a href="#"
                                        ><img
                                          src="images/yticon.png"
                                          alt=""
                                          width="35" /></a
                                      >&nbsp;&nbsp;&nbsp;<a href="#"
                                        ><img
                                          src="images/igicon.png"
                                          alt=""
                                          width="35"
                                      /></a>
                                    </div>
                                  </td>
                                </tr>
                              </tbody>
                            </table>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </td>
                </tr>
              </tbody>
            </table>
          </td>
        </tr>
      </tbody>
    </table>
  </body>
</html>
